{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
        <h1>Choix des kiosques pour la Métaplénière</h1>
        {{ page.render_inline_editor(editable_html_obj, current_user) }}
		
		<form method="POST">
			<h2>Nom</h2>
			<input name="Nom">
			<h2>Prénom</h2>
			<input name="Prénom">
		</form>
		<h2>Kiosque 1 - 9h30 à 10h</h2>
		<select  id="mymultiselect" name="mymultiselect">         
			<option value="1">Data Risk & Regulatory </option>       
			<option value="2">AI Strategy & Transformation</option>       
			<option value="3">AI & Data Foundry</option>
			<option value="1">Data Science & Engineering</option>       
			<option value="2">AI/Customer Engagement</option>       
			<option value="3">AI/Operations</option>			
		</select>
		<h2>Kiosque 2 - 10h à 10h30</h2>
		<select  id="mymultiselect" name="mymultiselect">         
			<option value="1">Data Risk & Regulatory </option>       
			<option value="2">AI Strategy & Transformation</option>       
			<option value="3">AI & Data Foundry</option>
			<option value="1">Data Science & Engineering</option>       
			<option value="2">AI/Customer Engagement</option>       
			<option value="3">AI/Operations</option>			
		</select>
		<h2>Kiosque 3 - 10h30 à 11h</h2>
		<select  id="mymultiselect" name="mymultiselect">         
			<option value="1">Data Risk & Regulatory </option>       
			<option value="2">AI Strategy & Transformation</option>       
			<option value="3">AI & Data Foundry</option>
			<option value="1">Data Science & Engineering</option>       
			<option value="2">AI/Customer Engagement</option>       
			<option value="3">AI/Operations</option>			
		</select>
		<h2>Kiosque 4 - 11h à 11h30</h2>
		<select  id="mymultiselect" name="mymultiselect">         
			<option value="1">Data Risk & Regulatory </option>       
			<option value="2">AI Strategy & Transformation</option>       
			<option value="3">AI & Data Foundry</option>
			<option value="1">Data Science & Engineering</option>       
			<option value="2">AI/Customer Engagement</option>       
			<option value="3">AI/Operations</option>			
		</select>
		<h2>Kiosque 5 - 11h30 à 12h</h2>
		<select  id="mymultiselect" name="mymultiselect">         
			<option value="1">Data Risk & Regulatory </option>       
			<option value="2">AI Strategy & Transformation</option>       
			<option value="3">AI & Data Foundry</option>
			<option value="1">Data Science & Engineering</option>       
			<option value="2">AI/Customer Engagement</option>       
			<option value="3">AI/Operations</option>			
		</select>
		<h2></h2>
		<input type="submit" name="submit_button" value="Valider">

    </div>

    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock %}
