{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('admin.participants') }}">
                <i class="caret left icon"></i>
                Vers le management des participants
            </a>
            <h2 class="ui header">
                Kiosques
                <div class="sub header">
                    Liste des kiosques et de leurs places disponibles
                </div>
            </h2>
			{% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}


            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable celled table">
                    <thead>
                        <tr>
                            <th class="sorted ascending">Tribu</th>
							<th>Sous titre</th>
							<th>Creneau</th>
							<th>Nombre de places disponibles</th>
							<th>Nombre de places max</th>							
                        </tr>
                    </thead>
                    <tbody>
                    {% for u in users | sort(attribute='name') %}
             

                            <td>{{ u.name }}</td>
                            <td>{{ u.sub_name }}</td>
							<td>{{ u.creneau }}</td>
                            <td>{{ u.places }}</td>
							<td>{{ u.places_max }}</td>
                        </tr>
						
						
                    {% endfor %}

					


                    </tbody>
                </table>
				
            </div>
			{{ f.begin_form(form, flashes) }}
				{{ f.render_form_field(form.kiosques_all) }}
				{{ f.render_form_field(form.new_name) }}
				{{ f.render_form_field(form.places_disponibles) }}
				{{ f.render_form_field(form.submit) }}
			{{ f.end_form() }}
        </div>
    </div>
	

{% endblock %}