{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Choix des kiosques pour la métaplénière
                <div class="sub header">Selectionner un kiosque par créneau</div>
            </h2>

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(form, flashes) }}
				{{ f.render_form_field(form.email) }}
				{{ f.render_form_field(form.submit_2) }}
				{% if kiosque_1_text %}
				<h3>Kiosque 1</h3>
				<div>{{kiosque_1_text}}</div>
				 {% endif %}
				 
				{% if kiosque_2_text %}
				<h3>Kiosque 2</h3>
				<div>{{kiosque_2_text}}</div>
				 {% endif %}
				 
				{% if kiosque_3_text %}
				<h3>Kiosque 3</h3>
				<div>{{kiosque_3_text}}</div>
				 {% endif %}
				 
				{% if kiosque_4_text %}
				<h3>Kiosque 4</h3>
				<div>{{kiosque_4_text}}</div>
				 {% endif %}
				 
				{% if kiosque_5_text %}
				<h3>Kiosque 5</h3>
				<div>{{kiosque_5_text}}</div>
				 {% endif %}
				{{ f.render_form_field(form.kiosque_1) }}
				{{ f.render_form_field(form.kiosque_2) }}
				{{ f.render_form_field(form.kiosque_3) }}
				{{ f.render_form_field(form.kiosque_4) }}
				{{ f.render_form_field(form.kiosque_5) }}
				{{ f.render_form_field(form.submit) }}
				

				


                


                {% if form.password %}


                {% endif %}

                {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
                {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
                {{ f.form_message(flashes['info'], header='Information', class='info') }}
                {{ f.form_message(flashes['success'], header='Success!', class='success') }}
				
				



			
			
			
            {{ f.end_form() }}
            {% if form.password %} 
              {{ check.password_check('password', 0) }} 
            {% endif %}
        </div>
    </div>
{% endblock %}
